.course {
  //border: 2px solid red;
  display: flex;
  //justify-content: center;
  background-color: var(--primary-color);
  padding: 5rem 5rem;
  color: white;
  gap: 2rem;
  margin: 2rem 0;
  .image {
    height: 350px;
    width: 600px;
    border: 10px solid white;
    border-radius: 4px;
  }

  .info {
    //border: 1px solid white;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .authors {
      p {
        font-style: italic;
      }
    }
  }
}

.details {
  //border: 2px solid red;
  margin-bottom: 4rem;
  width: 80%;
  margin-left: 10%;
}
