<div class="about-course">
  <div class="general-info">
    <div class="info-field">
      <p>Başlama tarixi: 28 Fevral</p>
    </div>
    <div class="info-field">
      <p>Müddəti: 8 ay</p>
    </div>
    <div class="info-field">
      <p>Qiyməti: <span>{{149 | currency }}</span></p>
    </div>
  </div>
  <div class="wide-info-field">
    <h3>Ümumi</h3>
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad adipisci corporis iure nemo non sit. Corporis dolores ducimus est ex id, iure nihil quidem recusandae! Aliquid, laborum, placeat.
    </p>
  </div>
  <div class="wide-info-field">
    <h3>Kurs kimlər üçündür?</h3>
    <p class="m-0">
      Lorem ipsum dolor sit amet...
    </p>
  </div>
  <div class="wide-info-field">
    <h3>Kursa başlamaq üçün tələblər</h3>
    <p class="m-0">
      Lorem ipsum dolor sit amet...
    </p>
  </div>
</div>
