<div class="home">
  <div class="cards-container">
    <h2 class="global-section-header">Populyar kusrlar</h2>
    <div class="cards">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>

    <div class="seeAll">
      <p-button severity="secondary" routerLink="courses">
        Hamısına bax
      </p-button>
    </div>
  </div>
  <div class="teachers-container">
    <app-teachers></app-teachers>
  </div>
</div>
