<div class="footer">
  <div class="socials">
    <h1>Teledu</h1>
    <p class="link"> <i class="pi pi-facebook"></i> Facebook</p>
    <p class="link"> <i class="pi pi-instagram"></i> Instagram</p>
    <p class="link"> <i class="pi pi-youtube"></i> YouTube</p>
  </div>
  <div class="categories">
    <h4>Proqramlasdirma</h4>
    <p class="link">Proqramlasdirma dilleri</p>
    <p class="link">Backend</p>
    <p class="link">Frontend</p>
  </div>
  <div class="categories">
    <h4>Abituriyent</h4>
    <p class="link">Abituriyent</p>
    <p class="link">SAT</p>
    <p class="link">YOS</p>
  </div>
  <div class="categories">
    <h4>Xarici dil</h4>
    <p class="link">English</p>
    <p class="link">Russian</p>
    <p class="link">Digər</p>
  </div>
</div>
